<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poly.toba.mapper.NoticeMapper">
<select id="getNoticeList" parameterType="map" resultType="NoticeDTO">
	SELECT 
		noticeNo,noticeContent,noticeTitle,noticeRegdate,noticeWriter
	FROM NOTICE 
	ORDER BY noticeNo desc 
	limit #{pagenum},#{contentnum}
</select>
<select id="noticeTotalCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM NOTICE
</select>
<select id="getNoticeDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
	SELECT
		*,
		(SELECT noticeNo FROM NOTICE WHERE <![CDATA[noticeNo < #{noticeNo}]]>  ORDER BY noticeNo DESC LIMIT 1) AS noticePrev,
		(SELECT noticeNo FROM NOTICE WHERE <![CDATA[noticeNo > #{noticeNo}]]>   ORDER BY noticeNo LIMIT 1) AS noticeNext
	FROM 
		NOTICE
	WHERE
		noticeNo = #{noticeNo};
</select>
<!-- 조회수 -->
<update id="noticeUpdateCount" parameterType="NoticeDTO">
	UPDATE 
		NOTICE
	SET
		noticeReadcount = noticeReadcount+1
	WHERE
		noticeNo = #{noticeNo}
</update>

<!-- 검색 게시물 개수  -->

<select id="noticeSearchTitleTotalCount" parameterType="map" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM NOTICE WHERE noticeTitle LIKE CONCAT('%',#{searchWord},'%')
</select>
<select id="noticeSearchContentTotalCount" parameterType="map" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM NOTICE WHERE noticeContent LIKE CONCAT('%',#{searchWord},'%')
</select>
<select id="noticeSearchWriterTotalCount" parameterType="map" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM NOTICE WHERE noticeWriter LIKE CONCAT('%',#{searchWord},'%')
</select>
<!-- 검색 리스트 -->
<select id="getNoticeSearchTitleList" parameterType="map" resultType="NoticeDTO">
	SELECT 
		noticeNo,noticeContent,noticeTitle,noticeRegdate,noticeWriter
	FROM NOTICE
  	WHERE noticeTitle LIKE CONCAT('%',#{searchWord},'%')
	ORDER BY noticeNo desc 
	limit #{pagenum},#{contentnum}
</select>
<select id="getNoticeSearchContentList" parameterType="map" resultType="NoticeDTO">
	SELECT 
		noticeNo,noticeContent,noticeTitle,noticeRegdate,noticeWriter
	FROM NOTICE
	WHERE noticeContent LIKE CONCAT('%',#{searchWord},'%')
	ORDER BY noticeNo desc 
	limit #{pagenum},#{contentnum}
</select>
<select id="getNoticeSearchWriterList" parameterType="map" resultType="NoticeDTO">
	SELECT 
		noticeNo,noticeContent,noticeTitle,noticeRegdate,noticeWriter
	FROM NOTICE
	WHERE noticeWriter LIKE CONCAT('%',#{searchWord},'%')
	ORDER BY noticeNo desc 
	limit #{pagenum},#{contentnum}
</select>
<insert id="noticeReg" parameterType="NoticeDTO">
   INSERT INTO NOTICE (
      NOTICETITLE,
      NOTICECONTENT,
      NOTICEREGDATE,
      NOTICEWRITER,
      NOTICEREADCOUNT
   ) VALUES (
      #{noticeTitle},
      #{noticeContent},
      NOW(),
      #{noticeWriter},
      0
   )
</insert>
</mapper>
