<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poly.toba.mapper.NoticeMapper">
<select id="getList" resultType="NoticeDTO">
	SELECT 
		*
	FROM
		NOTICE
</select>
<select id="getNoticeDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
	SELECT
		*,
		(SELECT noticeNo FROM NOTICE WHERE <![CDATA[noticeNo < #{noticeNo}]]>  ORDER BY noticeNo DESC LIMIT 1) AS noticePrev,
		(SELECT noticeNo FROM NOTICE WHERE <![CDATA[noticeNo > #{noticeNo}]]>   ORDER BY noticeNo LIMIT 1) AS noticeNext
	FROM 
		NOTICE
	WHERE
		noticeNo = #{noticeNo};
</select>
<!-- 조회수 -->
<update id="noticeUpdateCount" parameterType="NoticeDTO">
	UPDATE 
		NOTICE
	SET
		noticeReadcount = noticeReadcount+1
	WHERE
		noticeNo = #{noticeNo}
</update>
</mapper>
