<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poly.toba.mapper.UserMapper">
	<!-- 회원가입 -->
	<insert id="regUser" parameterType="UserDTO">
		INSERT INTO USER (
			USEREMAIL,
			USERPASSWORD,
			USERNICKNAME,
			USERNAME,
			USERREGDATE,
			ENABLED
		) VALUES (
			#{userEmail},
			#{userPassword},
			#{userNickName},
			#{userName},
			NOW(),
			0
		)
	</insert>
	<!-- 중복확인 -->
	<select id="getUserEmailCheck" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM USER
		WHERE USEREMAIL=#{userEmail}
	</select>
	<select id="getUserNickCheck" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM USER
		WHERE USERNICKNAME=#{userNick}
	</select>
	<!-- 인증키 발급 -->
	<insert id="regKey" parameterType="EmailDTO">
		INSERT INTO EMAIL_CONFIRM (
			emailKey,
			userEmail,
			userRegDate,
			expiredDate
		) VALUES (
			#{emailKey},
			#{userEmail},
			NOW(),
			DATE_ADD(NOW(), INTERVAL 1 SECOND)
		)
	</insert>
	<select id="getEmailKey" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM EMAIL_CONFIRM
		WHERE EMAILKEY=#{emailKey}
	</select>
	<update id="changeStatus" parameterType="EmailDTO">
	UPDATE user u INNER JOIN email_confirm e
	ON u.userEmail = e.userEmail
	SET u.enabled = 1
	WHERE e.emailKey = #{emailKey};
	</update>
	<!-- Login -->
	<select id="getUserLogin" parameterType="UserDTO" resultType="UserDTO">
	SELECT
		USERNO AS userNo,
		USEREMAIL AS userEmail,
		USERNICKNAME AS userNickName,
		USERNAME AS userName,
		USERREGDATE AS userRegDate,
		ENABLED AS enabled
	FROM USER
	WHERE USEREMAIL=#{userEmail} AND USERPASSWORD=#{userPassword} AND ENABLED=1
	</select>
</mapper>

